.location-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.location-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    margin-top: 15px;
}

.error-duplicate {
    font-size: 0.9em;
    position: absolute;
    top: -2.5em;
    text-align: center;
    width: 200px;
}

select {
    width: 150px;
    border-radius: 15px;
    padding: 3px 5px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.4);
    border: 0px;
    text-align-last: center;
}

.reset-button, .form-submit {
    width: 150px;
    border-radius: 15px;
    padding:  3px 5px;
    cursor: pointer;
    border: 0px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.4)
}

.reset-button:hover {
    background-color: white;
}

.form-submit {
    background-color: #659dbd;
    color: white;
}

.form-submit:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)
}

.form-buttons {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 570px) {
    button, select, .reset-button, .form-submit {
        width: 60vw;
        font-size: 1em;
        margin-top: 5px;

        margin-bottom: 5px;
    }

    .error-duplicate {
        font-size: 0.8em;
        position: absolute;
        top: 0;
    }
}