.other-city-card {
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
  width: 17vw;
  min-width: 300px;
  height: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
  margin: 5px;
}

.other-city-location {
  margin-top: 1em;
}

.other-city-location, .aqi-difference {
  max-width: 16vw;
}

.other-city-timestamp {
  font-size: 0.7em;
  margin-top: 3px;
}

.temp-aqi-group {
  display: flex;
  justify-content: space-around;
  width: 14em;
}

.other-city-aqi, .other-city-temp {
  font-weight: 500;
  font-size: 1.7em;
}

.distance-difference-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 6em;
}

.delete-other-city {
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0px;
  font-size: 1.1em;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .other-city-card {
    width: 100%;
    height: 12em;
    font-size: 0.7em;
    justify-content: space-between;
    text-align: center;
  }

  .delete-other-city {
    width: 1em;
  }

  .other-city-location {
    position: absolute;
    font-size: 1.4em;
    top: 1em;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .other-city-location, .aqi-difference {
    max-width: 80vw;
  }

  .other-city-timestamp {
    position: absolute;
    font-size: 1em;
    top: 3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .other-city-aqi {
    position: absolute;
    top: 3em;
    margin-left: auto;
    margin-right: 40vw;
  }

  .other-city-temp {
    position: absolute;
    top: 3em;
    margin-left: 40vw;
    margin-right: auto;
  }

  .distance-difference-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    margin-top: 8em;
  }

  .other-city-distance {
    padding-right: 1em;
  }

  .other-city-distance, .aqi-difference {
    font-size: 1.2em;
  }

  .delete-other-city {
    font-size: 1.6em;
    top: 0px;
    right: 2px;
  }
} 
