main {
    width: 100vw;
    height: 100vh;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
    opacity: 80%;
    object-fit: cover;
}

.darken-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: -2;

}

.welcome-container {
    position: absolute;
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
}

.logo, .slogan, .guiding-text {
    color: white;
    margin: 0;
}

.logo {
    font-size: 50px;
}

.slogan {
    font-weight: 300;
    font-size: 20px;
}

.guiding-text {
    font-size: 25px;
    margin-bottom: 20px;
}



.current-location-button {
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: white;
}


