.welcome-container {
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-city-nav {
  color: white;
}

.selected-city-shading {
  height: 100vh;
  width: 300px;
  opacity: 0.85;
  background-color: #333333;
  overflow: auto;
  position: absolute;
  top: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.5);
}

.selected-city-container {
  position: absolute;
  top: 50px;
  margin-left: 0;
}

.compare-form-container {
  position: absolute;
  z-index: 10;
  top: 400px;
  left: 77px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

.logo, .slogan, .guiding-text {
  color: white;
  margin: 0;
}

.logo {
  font-size: 50px;
  font-family: 'Permanent Marker';
}

.slogan {
  font-weight: 300;
  font-size: 20px;
}

.guiding-text {
  font-size: 25px;
  margin-bottom: 20px;
}

.current-location-button {
  cursor: pointer;
  background-color: green;
  border: 0px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.4);
  border-radius: 15px;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: white;
}

@media screen and (max-width: 570px) {
  .selected-city-shading {
    min-height: 0px;
    height: 10em;
    width: 100vw;
  }
  .selected-city-container {
    position: absolute;
    top: 20px;
    left: 10vw;
  }

  .compare-form-container {
    position: absolute;
    top: 12em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}