.aqi-key {
  position: absolute;
  top: 50px;
  left: 370px;
  font-size: 1em;
}

.good-aqi, .moderate-aqi, .sensitive-aqi, .unhealthy-aqi {
  font-weight: 600;
}

.good-aqi {
  color: #28CC2D;
}

.moderate-aqi {
  color: yellow;
}

.sensitive-aqi {
  color: orange;
}

.unhealthy-aqi {
  color: red;
}

.other-cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 120px;
  left: 340px;
  height: 83%;  
  width: 85vw;
  overflow-y: scroll;
  margin-right: 17px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media screen and (min-width: 1500px) {
  .aqi-key {
    left: 32vw;
  }
}

@media screen and (max-width: 570px) {
  .other-cities-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    top: 26em;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 95vw;
  }

  .aqi-key {
    display: none!important;
  }
} 