.aqi-key {
  position: absolute;
  top: 50px;
  left: 370px;
  font-size: 1em;
}

.good-aqi, .moderate-aqi, .sensitive-aqi, .unhealthy-aqi {
  font-weight: 600;
}

.good-aqi {
  color: #28CC2D;
}

.moderate-aqi {
  color: yellow;
}

.sensitive-aqi {
  color: orange;
}

.unhealthy-aqi {
  color: red;
}

.other-cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 120px;
  left: 340px;
  height: 80%;
  /* width: 80vw; */
  height: 89.3vh;  
  overflow-y: scroll;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-gap: 15px; */
  /* display: flex;
  flex-wrap: wrap;
  padding: 10px; */
  padding-right: 17px; 
  /* box-sizing: content-box; */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* @media screen and (max-width: 1475px) {
  .other-cities-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .other-cities-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .other-cities-container {

    width: 60vw;
  }


}
*/
@media screen and (min-width: 1500px) {
  .aqi-key {
    left: 32vw;
  }
}

@media screen and (max-width: 570px) {
  .other-cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 26em;
    left: 0;
    right: 0;
    margin-left: 0.6em;
    margin-right: auto;
    height: 43vh;
    width: 95vw;
  }

  .aqi-key {
    display: none!important;
  }
} 