*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-image: url('stretch-background.jpg');
  background-size: cover;
}

.darken-backdrop {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  object-fit: cover;
  display: block;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: -2;
  opacity: .2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
